.controls {
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5px;
  color: var(--clr-secondary);
  font-weight: 700;

  .buttons{
    display: flex;
    gap:5px;
  }

  .progress {
    flex-grow: 2;
    &-slider {
      width: 100%;
    }
  }

  .title {
    color: white;
    flex-grow: 0;
  }

  .vertical-slider{
    height: 200px !important;
  }


}
