<h1>Watch and Enjoy your moment</h1>
<section class="player">
  <video [src]="selectedVideo.video_url" #player (timeupdate)="updateProgressBar()" [class.gray]="isVideoEnd">
  </video>
  <ng-container *ngIf="isVideoEnd">
    <div class="preview-video">
      <vpl-video-box [item]="nextVideo"></vpl-video-box>
    </div>
    <div class="next-video">
      <vpl-video-box [item]="previousVideo"></vpl-video-box>
    </div>
  </ng-container>
  <vpl-controls [title]="selectedVideo.title">
    <ng-container>
      {{player.currentTime | secondsToHours}} / {{duration }}
    </ng-container>
  </vpl-controls>
</section>
