/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';



html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: rgb(46, 64, 82);
  background: linear-gradient(177deg, rgba(46, 64, 82, 1) 0%, rgba(39, 55, 70, 1) 35%, rgba(34, 48, 63, 1) 100%);
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

.btn {
  background-color: var(--clr-secondary) !important;
}

.btn:hover {
  background-color: var(--clr-primary) !important;
}



:root {
  --clr-primary: #1A2630;
  --clr-secondary: #D56E31;
  --clr-secondary-light: #db895a;
  --clr-success: #00D170;
  --clr-success-light: #aaf5da;
  --clr-accent: #fb5c5c;
  --clr-white: #ffffff;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
}



.mat-slider-thumb {
  background-color: var(--clr-primary) !important;
  right: -4px !important;
  bottom: -4px !important;
  width: 8px !important;
  height: 8px !important;
  border: none !important;
  box-shadow: 0px 0px 5px #000;
  outline: 4px solid var(--clr-secondary);
}

.mat-slider-track-background {
  background-color: var(--clr-primary) !important;
}

.mat-slider-track-fill {
  background-color: var(--clr-secondary) !important;
}

.mat-slider-track-fill,
.mat-slider-wrapper,
.mat-slider-track-wrapper,
.mat-slider-track-background {
  height: 8px !important;
  border-radius: 2px;
}


.swiper-slide {
  width: 150px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--clr-secondary) !important;
  font-weight: 700;

  @media only screen and (max-width: 992px) {
    font-size: 11px !important;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 32px !important;
  @media only screen and (max-width: 992px) {
    font-size: 22px !important;
  }
}

.swiper-pagination-bullet {
  background-color: var(--clr-white) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--clr-secondary) !important;
}
